.card-table {
  border-collapse: collapse;
  width: 100%;
}

.card-table th,
.card-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #191919;
}

.card-table th {
  background-color: #0dd9c3;
}

.card{
  color: rgb(16, 11, 11);
  background-color: #c9c9c7;
  width: 56rem;
}
.cart-title{
  color: rgb(0, 0, 0);

}
footer{

  margin-top: 90px;
}

.section{
  margin-top: 54px;
}