

.card-body{
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black; /* Add border to the table */
}

th,
td {
  border: 1px solid black; /* Add border to table cells */
  padding: 8px;
  text-align: left;
  color: black;
}